<h2 mat-dialog-title>{{(data ? 'Update' : 'New')}} User</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roleIds" multiple>
        <mat-option *ngFor="let r of (roles$ | async)" [value]="r.id">{{r.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>

